@model IEnumerable<GerenciadorAniversarios.Models.Pessoa>

@{
    ViewData["Title"] = "Gerenciador de Aniversários";
}

<h1>Gerenciador de Aniversários</h1>

<p>
    <a asp-action="Adicionar">Adicionar</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nome: @Html.TextBox("pesquisa")  
        <input type="submit" value="Pesquisar" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.OrdenacaoNome })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.ActionLink("Dias para o próximo aniversário", "Index", new { ordenacao = ViewBag.OrdenacaoDias })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @item.DiasParaProximoAniversario()
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
